body {
    font-family: 'Lato', sans-serif;
    padding: 5%;
    margin: 5%;
	margin-top: 5%;
	text-align: center;

    --sogyo-color: #007936;
    --accent-color: #eee;
    --light-text-color: #ffffcc;
	--purple-color: #6600ff;
    --orange-color: #ff9933;
    --dark-orange-color: #cc6600;
}

/* Describes the styling of the one and only element with id="mainheader", note the # in front of mainheader */
#mancalaboard {
    background-color: var(--orange-color);
	width: 100%;
	height: 100%;
    border-radius: 10%;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

#playTitle {
	color: var(--sogyo-color);
	font-size: 2em;
	padding-bottom: 20px;
}

.centered {
	margin: 0;
	position: relative;
	top: 50%;
}

/* Describes the styling of all elements with class="pit", note the . in front of it */
.pit {
    border: 1px solid rgb(0, 121, 54);
    background-color: var(--dark-orange-color);
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 20px;
    margin: 10px;
    float: left;
    border-radius: 40%;
    color: black;
}

.pitbutton {
	background-color: var(--sogyo-color);
	color: var(--light-text-color);
	font-weight: bold;
	border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pitbutton:hover {
	background-color: var(--purple-color);
	cursor: pointer;
}

.pitbutton:disabled, button[disabled]{
  cursor: not-allowed;
  background-color: gray;
  color: black;
}

.resetbutton {
	background-color: var(--purple-color);
	color: var(--light-text-color);
	font-weight: bold;
	border-radius: 20%;
	margin: 10px;
	width: 15%;
}

@media screen and (max-width: 1000px) {
	.pit {
		border: 1px solid rgb(0, 121, 54);
		background-color: var(--dark-orange-color);
		text-align: center;
		display: inline-block;
		width: 40px;
		height: 40px;
		padding: 20px;
		margin: 10px;
		float: left;
		border-radius: 40%;
		color: black;
	}

}